.searchbar {
  display: flex;
  width: 80%;
  max-width: 400px;
}

.searchbar input {
  width: 100%;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
}

.searchbar .error {
  display: flex;
  color: #f17f7f;
  padding-top: 10px;
  font-size: 10px;
}
